<app-movie-slider [sliders]="sliders"></app-movie-slider>

<div
  fxLayout="row"
  class="container"
>
  <div
    class="p12"
    fxFlex="100"
    fxFlex.gt-sm="65"
    fxFlex.gt-md="70"
  >
    Search results for: {{ searchTitle }}
    <mat-card>
      <div
        fxLayout="row wrap"
        *ngIf="movies"
      >
        <ng-template
          ngFor
          let-movie
          [ngForOf]="movies"
        >
          <app-movie-item
            [movie]="movie"
            fxFlex="100"
            fxFlex.gt-xs="50"
            fxFlex.gt-md="33.3333"
            [routerLink]="[ '/title', movie.imdbID ]"
          >
          </app-movie-item>
        </ng-template>
      </div>
      <div *ngIf="!movies">
        No result found.
      </div>
    </mat-card>
  </div>
  <div
    class="p12"
    fxFlex="100"
    fxFlex.gt-sm="35"
    fxFlex.gt-md="30"
    fxHide
    fxShow.gt-sm
  >
    <aside>
      <div class="text-right">Latest News</div>
      <mat-card>

      </mat-card>
    </aside>
  </div>
</div>
