<app-movie-slider [sliders]="sliders"></app-movie-slider>
<div class="container mt12">
  <mat-card>
    <app-movie-item [movie]="movie" [movieDetails]="true" *ngIf="movie"></app-movie-item>
  </mat-card>
</div>
