// *** Padding & Margins i*6 (i<=6)
$sizes: t, r, b, l, h, v, 0;
@each $size in $sizes {
  @for $i from 5 through 0 {
    @if $size != 0 {
      .m#{$size}#{$i * 6} {
        @if $size == t {
          margin-top: $i *6px;
        } @else if $size == r {
          margin-right: $i * 6px;
        } @else if $size == b {
          margin-bottom: $i * 6px;
        } @else if $size == l {
          margin-left: $i * 6px;
        } @else if $size == h {
          margin-left: $i * 6px;
          margin-right: $i * 6px;
        } @else if $size == v {
          margin-top: $i * 6px;
          margin-bottom: $i * 6px;
        }
      }
      .p#{$size}#{$i * 6} {
        @if $size == t {
          padding-top: $i *6px;
        } @else if $size == r {
          padding-right: $i * 6px;
        } @else if $size == b {
          padding-bottom: $i * 6px;
        } @else if $size == l {
          padding-left: $i * 6px;
        } @else if $size == h {
          padding-left: $i * 6px;
          padding-right: $i * 6px;
        } @else if $size == v {
          padding-top: $i * 6px;
          padding-bottom: $i * 6px;
        }
      }
    } @else if $size == 0 {
      .m#{$i * 6} { margin: $i * 6px; }
      .p#{$i * 6} { padding: $i * 6px; }
    }
  }
}
// Padding & Margins i*6 (i<=6) ***

.mt-12 {
  margin-top: -12px;
}

.mh-12 {
  margin-left: -12px;
  margin-right: -12px;
}

.full-width {
  width: 100%;
}

.flex-spacer {
  flex: 1 1 auto;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1280px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
}
