@import 'helpers';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $bg-color;
}

h1 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

@import 'override';
@import 'layout';
