<app-movie-slider [sliders]="sliders"></app-movie-slider>

<div
  fxLayout="row"
  class="container"
>
  <div
    class="p12"
    fxFlex="100%"
    fxFlex.gt-sm="60%"
    fxFlex.gt-md="70%"
  >
    Top Movies All Time
    <mat-card>
      <app-top-list [topList]="topList"></app-top-list>
    </mat-card>
  </div>
  <div
    class="p12"
    fxFlex.gt-sm="40%"
    fxFlex.gt-md="30%"
    fxHide
    fxShow.gt-sm
  >
    <aside>
      <div class="text-right">Latest News</div>
      <mat-card>

      </mat-card>
    </aside>
  </div>
</div>
