@import 'helpers';

main {
  .mat-card {
    background-color: orange;
  }
}

aside {
  .mat-card {
    background-color: teal;

    @include respond(gt-md) {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
