@import 'helpers';

.mat-tab-group {
  position: relative;
  height: inherit;

  /deep/ {
    .mat-tab-header {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      z-index: 20;
      border: 0;
    }

    .mat-tab-labels {
      justify-content: center;
      align-items: center;
    }

    .mat-tab-label {
      padding: 0;
      height: 12px;
      width: 12px;
      min-width: auto;
      border-radius: 50px;
      margin: 6px;
      background-color: rgba($white, 70%);
      transition: .3s ease-in-out;
      transform: scale(.7);
    }

    .mat-tab-label:hover,
    .mat-tab-label-active {
      transform: scale(1);
      opacity: 1;
      background-color: $white;
      box-shadow: 0 1px 8px $black;
    }

    .mat-ink-bar {
      display: none;
    }
  }
}

.imdb-slider {
  height: 420px;
  position: relative;
  // box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  overflow: hidden;

  &:hover {
    .slider-arrow {
      opacity: 1;
    }
  }
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1000;
  width: 60px;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  mat-icon {
    width: auto;
    color: $white;
    height: auto;
    font-size: 60px;
  }
}
