<div class="container">
  <div
    class="imdb-slider"
    (mouseenter)="ngOnDestroy()"
    (mouseleave)="initSlider()"
  >
    <mat-tab-group [selectedIndex]="selectedIndex">
      <mat-tab *ngFor="let slider of sliders">
        <img
          [src]="slider.img"
          alt=""
          style="width: 100%"
        >
      </mat-tab>
    </mat-tab-group>
    <button
      type="button"
      class="slider-arrow left"
      (click)="prev()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      type="button"
      class="slider-arrow right"
      (click)="next()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
