@import 'helpers';

.movie-item:not(.detailed) {
  transition: background-color .3s ease-in-out,
              box-shadow .3s ease-in-out;
  &:hover {
    background-color: darken($bg-color, .4);
    box-shadow: 0 3px 1px -2px rgba($black, .2),
                0 2px 2px 0 rgba($black,.14),
                0 1px 5px 0 rgba($black,.12);
    cursor: pointer;
  }
}

.movie-poster {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.detailed {
  @include respond(gt-sm) {
    display: flex;
  }

  .movie-poster {
    width: 100%;
    margin-right: 12px;

    @include respond(gt-sm) {
      width: 200px;
      margin-right: 12px;
    }
  }

  .movie-details-section {
    @include respond(gt-sm) {
      width: calc(100% - 212px);
    }
  }

  table {
    td {
      vertical-align: top;
    }
  }
}
