<div
  class="movie-item p12"
  [ngClass]="{'detailed': movieDetails}"
>
  <div
    class="movie-poster"
    [style.backgroundImage]="'url(' + movie.Poster + ')'"
  ></div>
  <div class="movie-details-section">
    <h4 class="mv6">{{ movie.Title }}</h4>
    <div
      class="movie-details"
      *ngIf="movieDetails"
    >
      <table>
        <tr>
          <td>Plot:</td>
          <td>{{ movie.Plot }}</td>
        </tr>
        <tr>
          <td>Actors:</td>
          <td>{{ movie.Actors }}</td>
        </tr>
        <tr>
          <td>Genre:</td>
          <td>{{ movie.Genre }}</td>
        </tr>
        <tr>
          <td>Imdb Rating:</td>
          <td>{{ movie.imdbRating }}</td>
        </tr>
        <tr>
          <td>Runtime:</td>
          <td>{{ movie.Runtime }}</td>
        </tr>
        <tr>
          <td>Box Office:</td>
          <td>{{ movie.BoxOffice }}</td>
        </tr>
        <tr>
          <td>Awards:</td>
          <td>{{ movie.Awards }}</td>
        </tr>
      </table>
    </div>
    <mat-chip-list>
      <mat-chip>{{ movie.Year }}</mat-chip>
      <mat-chip>{{ movie.Type }}</mat-chip>
    </mat-chip-list>
  </div>
</div>
