@import 'helpers';

header {
  height: 48px;
  background: linear-gradient(90deg, $header-gradient1 40%, $header-gradient2);
  position: relative;

  > * {
    height: 100%;
  }

  h1 {
    cursor: pointer;
    outline: none;
  }

  h1,
  .user-menu {
    position: absolute;
    top: 0;
  }

  h1 {
    left: 6px;
  }

  .user-menu {
    right: 12px;
  }

  .mat-icon {
    color: $white;
  }
}

form {
  font-size: 14px;

  @include respond(xs) {
    width: calc(100% - 140px);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  @include respond(gt-xs) {
    margin-left: 50px;
  }

  @include respond(gt-sm) {
    margin-left: 150px;
  }

  @include respond(gt-md + 200px) {
    margin-left: auto;
  }

  input {
    height: 32px;
    padding: 0 12px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0;
    outline: none;
    transition: width .3s ease-in-out;
    width: calc(100% - 32px);
    
    @include respond(gt-xs) {
      width: 250px;
      &:focus {
        width: 300px;
      }
    }
  }

  .mat-icon-button {
    height: 32px;
    width: 32px;
    padding-left: 5px;
    line-height: 32px;
    border: 2px solid $white;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.main-wrapper {
  height: calc(100% - 48px - 30px);
  overflow: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

footer {
  line-height: 30px;
  background-color: $black;
  color: $white;
  background: linear-gradient(90deg, $header-gradient2 60%, $header-gradient1);
}
