<header>
  <h1
    fxLayout="row"
    fxLayoutAlign="start center"
    routerLink="/"
  >
    <img
      src="/assets/images/logo_small.png"
      fxHide.gt-sm
      alt="Movie Feeds"
      height="38"
    >
    <img
      src="/assets/images/logo.png"
      fxHide
      fxShow.gt-sm
      alt="Movie Feeds"
      height="38"
    >
    <span fxHide>Movie Feeds</span>
  </h1>
  <form
    class="container header-search-area"
    fxLayout="row"
    fxLayoutAlign="start center"
    (submit)="onSubmit()"
  >
    <input
      type="text"
      placeholder="Search"
      required
      [(ngModel)]="searchTerm"
      name="searchTerm"
    >
    <button
      mat-icon-button
      color="secondary"
    >
      <mat-icon aria-label="Search">search</mat-icon>
    </button>
  </form>
  <div
    class="user-menu"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <mat-icon>person</mat-icon>
  </div>
</header>

<div class="main-wrapper">
  <router-outlet></router-outlet>
</div>

<footer class="text-center">
  copyright
</footer>
